{{>header}}
{{>nav}}
<section class="container my-5">
    <h2>edit tasks</h2>
    <form action="/editLogic/{{user.id}}">
        <div class="mb-3">
            <input name="title" class="form-control" placeholder="name" value="{{user.title}}">
        </div>
         {{!-- <div class="mb-3">
            <textarea name="content" class="form-control"  cols="30" rows="5"placeholder="content"  value="{{user.content}}" ></textarea>
            
        </div> --}}
        <div class="mb-3">
            <input name="content" class="form-control" placeholder="content" value="{{user.content}}">
        </div>
<div class="mb-3">
            <select name="status" class="form-select">
                    <option value="{{user.status}}" selected disabled>{{user.status}}</option>
                    {{!-- <option value="active" >active</option> --}}
                    <option value="inactive" >inactive</option>
                </select>
</div>
              
                 <div class="mb-3">
<input type="date" class="form-control" name="date" placeholder="date" value="{{user.date}}">    
</div>

        <div class="mb-3">
            <button class="btn btn-primary">Add</button>
        </div>
    </form>
</section>

{{>footer}}